
.panelDiv{
    display: flex;
    background: white;
    width: 450px;
    height: 500px;
    margin: 10px;
    padding: 20px;
    justify-content: center;
}

.title{
    font-size: 20px;
}

.description{
    font-size: 16px;
}