
.panelDiv{
    display: flex;
    flex-direction: column;
    background: white;
    // width: 900px;
    height: 500px;
    margin: 10px;
    padding: 25px 75px 0 75px;
    
    // font-size: 2.4rem;
    line-height: 1.25;
}

.title{
    font-size: 2rem;
    font-weight: bold;
}

.description{
    // display: flex;
    // justify-content: center;
    margin-top: 15px;
    font-size: 1.6rem;
    line-height: 1.25
}