
.eventContainer {
    display: flex;
    flex-direction: column;
    background: #231f20;
    color: white;
    padding: 2.5rem;
    // padding: 25px 75px 0 75px;
    margin-top: 2rem;
    border: 7px solid white;
}