h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.donateContainer{
    display: flex;
    // flex-direction: column;
    background: #231f20;
    color: white;
    padding: 2.5rem;
    // padding: 25px 75px 0 75px;
    margin-top: 2rem;
    border: 7px solid white;
}
// .donateContainer{
//     display: flex;
//     // flex-direction: column;
//     background: #231f20;
//     color: white;
//     padding: 5rem;
//     //padding: 25px 75px 0 75px;
//     margin-top: 2rem;
//     border: 7px solid white;
// }


.donationImageSection{
    min-width: 512px;
    // background: powderblue;
    width: 512px;
    margin: 0 6.4rem 0 0;
}

// .donationImageSection{
//     display: flex;
//     flex-direction: column;
//     min-width: 550px
//     // background: powderblue;
//     // width: 500px;
//     // margin: 0 6.4rem 0 0;
// }

.imageNav{
    width: 100%;
    overflow: hidden;
    // display: -webkit-box;
    // display: -ms-flexbox;
    display: flex;
    // -ms-flex-wrap: wrap;
    flex-wrap: wrap;
   
}

// .imageNav{
//     width: 75%;
//     overflow: hidden;
//     // display: -webkit-box;
//     // display: -ms-flexbox;
//     display: flex;
//     flex-direction: column;
//     // -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
   
// }

.tabNav{
    transition: filter .3s linear;
    width: 50%;
    list-style: none;
}

// .tabNav{
//     display: flex;
//     flex-direction: column;
//     transition: filter .3s linear;
//     width: 100%;
//     height: 50px;
//     list-style: none;
// }

a {
    color: inherit;
    text-decoration: none;
}

.title2{
    // left: 57%;
    // top: 59%;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end; 
    position: block;
    align-items: center;
    flex-wrap: nowrap;
    
}

.imgHolder {
    display: block;
    background-size: contain;
    background-blend-mode: multiply;
    filter: contrast(70%) brightness(.75) saturate(2);
    padding-bottom: 100%;
    position: relative;
    background-size: cover;

    &:hover{
          filter: inherit
          }
    
}

.donationInfoSection {
    display: flex;
    flex-direction: column;
    margin-top: -24px;
}

.info {
    font-size: 1.5rem;
}